# venv/
# __pycache__/
# *.pyc
# *.pyo
# *.pyd
# .Python
env/
core/
build/
livrable/
dist/
output/
data/
tests/
ui/*
core/*

# eggs/
# .eggs/
# lib/
# lib64/
# parts/
# sdist/
# var/
# *.egg-info/
# .installed.cfg
# *.egg
# .env
# .idea/
# .vscode/
# *.log
# *.sqlite3
# .DS_Store

